<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Exploración Física</title>
</head>
<body>
    <h1>Exploración Física</h1>
    <form method="post" action="/exploracion_fisica">
        Observación inicial: <input type="text" name="observacion"><br>
        Palpación: <input type="text" name="palpacion"><br>
        Movilización pasiva: <input type="text" name="movilizacion"><br>
        Evaluación del tono muscular: <input type="text" name="tono_muscular"><br>
        Pruebas específicas: <input type="text" name="pruebas"><br>
        <input type="submit" value="Siguiente">
    </form>
</body>
</html>