<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Exploración Dinámica</title>
</head>
<body>
    <h1>Exploración Dinámica</h1>
    <form method="post" action="/exploracion_dinamica">
        Paso y trote: <input type="text" name="paso_trote"><br>
        Círculos: <input type="text" name="circulos"><br>
        Escaleras: <input type="text" name="escaleras"><br>
        Postura: <input type="text" name="postura"><br>
        Tumbado: <input type="text" name="tumbado"><br>
        <input type="submit" value="Finalizar">
    </form>
</body>
</html>